* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #05051a;
}

.sound {
    background-color: #ff3c78;
    border: solid 1px #d6006b;
    font-size: xx-large;
    color: #05051a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blast {
    margin-left: 5px;
    font-size: xx-large;
    color: white;
    border-top: solid 1px #af0259;
    border-bottom: solid 1px #b9015d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navbarNavDropdown{
    margin-left: 140px;
}

.navbar {
    height: 90px;
}

#list {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 20px;
    font-size: larger;
    display: inline-block;
}

#list:hover {
    color: #ff3c78;
}

#list::after {
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    background-color: #ff3c78;
    transition: width 0.3s;
}

#list:hover::after {
    width: 100%;
    transition: width 0.3s;
    color: #ff3c78;
}
.dropdown-item:hover{
    background-color: rgb(219, 219, 219);
}
img{
    width: 250px;
    height: 250px;
}
.gal{
    color: white;
    font-size: 30px;
}