*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #05051a;
}
.navbar-collapse{
    background-color:#05051a;
    z-index: 1;
}
.sound {
    background-color: #ff3c78;
    border: solid 1px #d6006b;
    font-size: xx-large;
    color: #05051a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blast {
    margin-left: 5px;
    font-size: xx-large;
    color: white;
    border-top: solid 1px #af0259;
    border-bottom: solid 1px #b9015d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navbarNav {
    margin-left: 100px;
}

.navbar {
    height: 90px;
}

#list {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 20px;
    font-size: larger;
    display: inline-block;
}

#list:hover {
    color: #ff3c78;
}

#list::after {
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    background-color: #ff3c78;
    transition: width 0.3s;
}

#list:hover::after {
    width: 100%;
    transition: width 0.3s;
    color: #ff3c78;
}
.list1{
    display: flex;
    justify-content: center;
}
.items1{
    display: inline;
    display: flex;
    list-style-type: none;
    margin-left: 10px;
    justify-content: center;
}
.items{
    padding-left: 20px;
    text-decoration: none;
    color: #d6006b;
}
.dropdown-menu{
    background-color:#05051a;
    border: solid 2px white;
}
.dropdown-item{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card-wrapper,.card-wrapper1,.card-wrapper2,.card-wrapper3{
    display: flex;
    margin-left: 20px;
    justify-content:space-around;
}
.one{
    color:white;
    margin-top: 12px;
    font-size: 30px;
}
.card{
    width: 12rem;
    height: 13rem;
}
.btn2{
    margin-left: 970px;
    position: relative;
    bottom: 5px;
    display: inline;
    border: 0;
    background-color: transparent;
    color: white;
}
.btn3{
    margin-left: 970px;
    display: inline;
    position: relative;
    top: 10px;
    border: 0;
    background-color: transparent;
    color: white;
}
.btn4{
    margin-left: 970px;
    display: inline;
    position: relative;
    top: 10px;
    border: 0;
    background-color: transparent;
    color: white;
}
.btn2:hover{
    color: #ff3c78;
}
.btn3:hover{
    color: #ff3c78;
}
.btn4:hover{
    color: #ff3c78;
}
.ms-5{
    margin-left: 3rem;     
}
@media(min-width:1400px){
    .btn2,.btn3,.btn4{
        margin-left: 1150px;
    }
}
@media(max-width:1200px){
    #navbarNav{
        margin-left: 30px;
    }
    #list{
        padding-left: 10px;
        font-size:medium;
    }
    .container{
        width: 860px;
        margin-left: 50px;
    }
    .btn2,.btn3,.btn4{
        margin-left: 720px;
    }
}
@media(max-width:992px){
    .container{
        margin-left:auto;
    }
    .btn2,.btn3,.btn4{
        margin-left: 600px;
    }
    .card{
        width: 10rem;
        height: 10rem;
    }
    .card-title{
        font-size: 15px;
    }
    .stay{
        margin-left: 10px
    }
}
@media(max-width:768px){
    .container{
        margin-left:auto;
    }
    .btn2,.btn3,.btn4{
        margin-left: 420px;
    }
    .card{
        width: 10rem;
        height: 9rem;
        margin-left: 5px;
    }
    .card-title{
        font-size: 13px;
    }
}
@media(max-width:576px){
    .container{
        margin-left:auto;
    }
    .btn2,.btn3,.btn4{
        margin-left: 700px;
    }
    .card{
        width: 10rem;
        height: 10rem;
    }
    .card-title{
        font-size: 15px;
    }
    .one{
        margin-left: 48px;
    }
}
